<header class="app-toolbar">
    <a routerLink="/" class="app-title-link">Gestor de Permisos Databricks</a>
    <span class="spacer"></span>

    <nav class="nav-buttons">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="toolbar-button">
            <i class="material-icons">home</i>
            <span>Inicio</span>
        </a>

        <!-- Menú Desplegable de Peticiones -->
        <details class="dropdown">
            <summary class="toolbar-button">
                <i class="material-icons">description</i>
                <span>Peticiones</span>
                <i class="material-icons dropdown-arrow">arrow_drop_down</i>
            </summary>
            <div class="dropdown-content">
                <a routerLink="/solicitar-permiso" routerLinkActive="active-link">Solicitar Permiso</a>
                <a routerLink="/mis-peticiones" routerLinkActive="active-link">Mis Peticiones</a>
                <a routerLink="/aprobar-peticiones" routerLinkActive="active-link">Aprobar Peticiones</a>
            </div>
        </details>

        <!-- Menú Desplegable de Administración -->
        <details class="dropdown">
            <summary class="toolbar-button">
                <i class="material-icons">admin_panel_settings</i>
                <span>Administración</span>
                <i class="material-icons dropdown-arrow">arrow_drop_down</i>
            </summary>
            <div class="dropdown-content">
                <a routerLink="/dashboard" routerLinkActive="active-link">Panel de Control</a>
                <a routerLink="/gestion-usuarios-grupos" routerLinkActive="active-link">Gestión Usuarios/Grupos</a>
                <a routerLink="/registro-auditoria" routerLinkActive="active-link">Registro de Auditoría</a>
            </div>
        </details>

        <a routerLink="/ayuda-faq" routerLinkActive="active-link" class="toolbar-button">
            <i class="material-icons">help_outline</i>
            <span>Ayuda / FAQ</span>
        </a>
    </nav>
</header>
