/* Pie de página (Footer) */
.app-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 16px;
    margin-top: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
